 -->
<h3><a href="https://dascritch.github.io/cpu-audio/">CPU Audio webcomponent</a></h3>
<ul id="pieddepage">
    <li><a href="FEATURES">Features</a></li>
    <li><a href="INSTALL">Install</a></li>
    <li><a href="LIVE">Live settings</a></li>
    <li><a href="TROUBLESHOOTING">Troubles</a></li>
    <li><a href="CONTRIBUTING">Contribute</a></li>
    <li><a href="TODO">To do</a></li>
    <li><a href="https://github.com/dascritch/cpu-audio/">Code</a></li>
    <li><a href="http://cpu.pm">CPU radio show</a></li>
</ul>
<script src="./dist/cpu-audio.js" async></script>
<style type="text/css">
    style.showcode {
        display : block;
    }

    /* fallback style for browsers without webcomponents */
    audio[control] {
        display : block;
        width : 100%;
    }
    .cpu-audio-without-webcomponents .cpu-audio-without-webcomponents {
        display : block;
    }
    /* fully operative */
    .cpu-audio-with-webcomponents .cpu-audio-without-webcomponents {
        display : none;
    }

    .too-old {
        border : 4px red solid; padding : 4px;
    }

    #pieddepage {
        padding : 0;
        display : flex;
    }

    #pieddepage li {
        list-style :none;
        flex : 1 0 auto;
    }
</style>
<!-- 