/* Fallback */
audio[controls] {
	display : block;
	width : 100%;
}

/* Global default style, usign var. Integrators may override them */
:root {
	--cpu-height : 600px;
	--cpu-font-family : Lato, "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	--cpu-font-size : 15px;
	--cpu-font-small-size : calc(var(--cpu-font-size) * 0.8);
	--cpu-background : #555;
	--cpu-color : #ddd;
	--cpu-playing-background : #444;
	--cpu-playing-color : #fff;
	--cpu-cue : #000;
	--cpu-timeline-limits : #f00;
	--cpu-color-transitions : 0.1s;
	--cpu-background-transitions : 0.1s;
	--cpu-focus-outline : 8px dashed #f00;
}

@media (max-width: 640px) {
	:root , .interface {
		--cpu-font-size : 13px;
		--cpu-height : 480px;
	}

}