:host {
  all: initial;
  display: block;
  contain: content;
}

#interface, * {
	font-family : var(--cpu-font-family);
	font-size : var(--cpu-font-size);
	font-weight: normal;
	font-style: normal;
	line-height : 1.2;
	border : none;
	padding : 0;
	margin : 0;
	text-indent: 0;
	list-style-type: none;
	user-select: none;
	transition :
		color var(--cpu-color-transitions),
		background-color var(--cpu-background-transitions),
		opacity var(--cpu-background-transitions);
}

button {
	color : currentColor;
	border : none;
	text-decoration : none;
	cursor : pointer;
	vertical-align : middle;
	background : var(--cpu-background);
	color : var(--cpu-color);
	display : flex;
	flex-direction: column;
	overflow : hidden;
	max-width : var(--cpu-height);
	max-height: var(--cpu-height);
	text-align : center;
}

svg {
	fill : currentColor;
}

[src=''] {
	visibility: hidden;
}

#poster {
	display: block;
	/*height: 530px;*/
	max-width: 530px;
	margin: 10px 35px;
	object-fit: contain;
	opacity : 0;
}

.poster-loaded #poster {
	opacity: 1;
}

strong {
	font-weight: bold;
	display : block;
}

.no,
.mode-hidden,
#control svg, #loading, #pause,#play,
.panel
{
	display : none;
}

.act-loading #loading,
.act-play #pause,
.act-glow #play,
.act-pause #play {
	display : block;
}

.act-glow #play {
	animation : glow 2s infinite;
}

@keyframes glow {
	0%   { opacity : 0.5; }
	50%  { opacity : 1;   }
	100% { opacity : 0.5; }
}
.act-loading #loading circle {
	fill : #777;
	opacity : 1;
	animation: pulse 2s infinite;
}

#loading circle:nth-child(2) {
	animation-delay:0.5s;
}

#loading circle:nth-child(3) {
	animation-delay:1s;
}

@keyframes pulse {
	50% { opacity : 0; }
}

svg {
	max-width :32px;
	max-height : 32px;
}

#control  {
	display : flex;
	flex-direction: row;
	height : 32px;
	align-items: center;
	margin : 0 35px;
}

.expand {
	flex : auto 1 0;
}

#elapse {
	text-align: right;
	height : 32px;
}

#elapse span {
	vertical-align : middle;
}
