:host {
  all: initial;
  display: block;
  contain: content; 
}

.act-play {
	--cpu-background : var(--cpu-playing-background);
	--cpu-color : var(--cpu-playing-color);
}

.show-error {
	--cpu-background : var(--cpu-error-background);
	--cpu-color : var(--cpu-error-color);
}

#interface {
	--cpu-timeline-height : 10px;
	/* transition : width var(--cpu-unfold); */
	background : var(--cpu-background);
	color : var(--cpu-color);
}

#interface, * {
	font-family : var(--cpu-font-family);
	font-size : var(--cpu-font-size);
	font-weight: normal;
	font-style: normal;
	line-height : 1.2;
	border : none;
	padding : 0;
	margin : 0;
	text-indent: 0;
	list-style-type: none;
	user-select: none;
	transition : 
				color var(--cpu-color-transitions),
				background-color var(--cpu-background-transitions),
				opacity var(--cpu-background-transitions);
}

.show-no main {
	visibility : hidden;
}

main {
	display : flex;
	overflow : hidden;
	height : var(--cpu-height);
}

a, button {
	color : currentColor;
	border : none;
	text-decoration : none;
}
button {
	background : transparent;
}

svg {
	fill : currentColor;
	width : var(--cpu-height);
	height : var(--cpu-height);
}


i, em {
	font-style: italic;
}

b, strong, h5 a {
	font-weight: bold;
}

[src=''] {
    visibility: hidden;
}

#pageerror {
	padding: 0px 4px;
	align-self: center;
}

#control,
#actions {
	flex : 0 0 var(--cpu-height);
	width : var(--cpu-height);
	max-height : var(--cpu-height);
	height : 100%;
	text-align : center;
	vertical-align : middle;
}

a {
	cursor : pointer;
}

#loading, #play, #pause,
.show-main #pageshare, .show-main #pageerror,
.show-share #pagemain, .show-share #pageerror,
.show-error #pagemain, .show-error #pageshare , .show-error #poster,
#handheld-nav , .show-handheld-nav #titleline {
	display : none;
}

.act-loading #loading,
.act-play #play,
.act-glow #pause,
.act-pause #pause {
	display : block;
}

.act-glow #pause {
	animation : glow 2s infinite;
}

@keyframes glow {
	0%     {opacity : 0.5;}
	50%     {opacity : 1;}
	100%     {opacity : 0.5;}
}

.show-share #pageshare,
.show-main #pagemain {
	flex : 1 1 100%;
	display : flex;
	align-items: center;
}

.act-loading #loading circle {
	fill : #777;
	opacity : 1;
	animation: pulse 2s infinite;
}

#loading circle:nth-child(2) {
	animation-delay:0.5s;
}

#loading circle:nth-child(3) {
	animation-delay:1s;
}

@keyframes pulse {
	50%     {opacity : 0;}
}

#poster {
	max-width : var(--cpu-height);
	min-width : var(--cpu-height);
	max-height : var(--cpu-height);
	min-height : var(--cpu-height);
	object-fit: contain;
	opacity : 0;
}

.poster-loaded #poster {
	opacity: 1;
}

.hide-poster #poster {
	display : none;
}

#control svg, #actions svg {
	vertical-align : middle;
	max-width : 100%;
	max-height : 100%;
}
#titleline {
	display : flex;
	align-items: center;
}
#about, #title {
	flex : 1 1 auto;
	position : relative;
}
#title {
	overflow: hidden;
	text-overflow : '…';
}
#title a {
	display : block;
	max-height: calc(6px + calc(2 * var(--cpu-font-size)));
}
#canonical.untitled {
	font-style : italic;
}
#elapse {
	flex : 0 1 var(--cpu-elapse-width);
	text-align : right;
}

.mode-compact #elapse {
	flex : 0 0 calc(var(--cpu-elapse-width) + 32px);
	text-align : center;
}

#time {
	background-color : black;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width : 100%;
	height : var(--cpu-timeline-height);
	display : block;
	position : relative;
	cursor:none;
}
#loadingline {
	background : currentColor;
	height : var(--cpu-timeline-height);
	display : block ;
	position : absolute;
	left : 0;
	pointer-events : none;
}
#loadingline:after {
	content : '';
	position: absolute;
	right : 0px;
	width : 0px;
	height : var(--cpu-timeline-height);
	display : block;
	outline : var(--cpu-color) 4px solid;
	z-index : 127;
	opacity : 0; 
}

main:hover #loadingline:after,
main:focus #loadingline:after {
	opacity : 1;
}

aside {
	position : absolute;
	width : 100%;
}

aside a {
	position : absolute;
	display : block;
}

aside a span {
	display : none;
}


aside.chapters {
	height : 2px;
	bottom : -2px;
}

aside.chapters a {
	background : var(--cpu-cue);
	height : 2px;
	border : 1px solid var(--cpu-background);
}

aside.chapters a.active-cue {
	background : var(--cpu-color);
}

aside.borders {
	pointer-events : none;
	height : var(--cpu-timeline-height);
	z-index : 4;
	top : calc( var(--cpu-timeline-height) + 6px);
}

aside.borders a {
	height : var(--cpu-timeline-height);
	background: transparent;
}

aside.borders a:before, aside.borders a:after {
	pointer-events : none;
	content:"";
	position : absolute;
	width : 2px;
	height : var(--cpu-timeline-height);
	border : 2px solid red;
}

aside.borders a:before {
	border-right-width: 0px;
	left : 0%;
}

aside.borders a:after {
	border-left-width: 0px;
	left : 100%;
}

aside.ticker {
	height : 16px;
	top : 30px; /* var(--cpu-timeline-height) + var(--cpu-font-size) - diff-small */
}

aside.ticker a.active-cue {
	left : 0px !important;
	right : 0px !important;
	background : inherit !important;
	color : inherit !important; /* I know */
}

aside.ticker a.active-cue span {
	display : inline-block;
}


.act-loading #loadingline {
	background : repeating-linear-gradient(45deg, var(--cpu-color) 0, var(--cpu-background) 15px, var(--cpu-color) 30px);
	  background-size: 200% 200%;
	animation: loadingline 1s linear infinite;
}
@keyframes loadingline {
  0% { background-position-y : var(--cpu-timeline-height); }
}

#handheld-nav {
	max-height: calc(6px + calc(2 * var(--cpu-font-size))); /* → #title a */
	padding-bottom: 8px;
}

.show-handheld-nav #handheld-nav {
	display : flex;
}

#handheld-nav * {
  flex : 1 0 auto;
  height : calc(2 * var(--cpu-font-size));
}

[type="time"] {
	text-align : center;
}

.hide-actions #actions {
	/* we won't display:none, as we need a padding on the right */
	visibility : hidden;
	pointer-events: none;
	min-width : var(--cpu-min-padding);
	max-width : var(--cpu-min-padding);
}

#pageshare {
	text-align : center;
}

#pageshare a {
	display: flex;
	align-items: center;
	justify-content: center;
	height : var(--cpu-height);
}

#pageshare a, #pageshare div {
	flex : 1 0;
	color : white;
	text-decoration : none;
	overflow : hidden;
	text-overflow : clip;
}


#pageshare svg {
	vertical-align : middle;
	width : 32px;
	height : 32px;
}

#pageshare #nativeshare {
	display : none;
}

.hasnativeshare #pageshare #nativeshare {
	display : flex;
}

.hasnativeshare #pageshare .nonativeshare {
	display : none;
}

#twitter {
	background : #4DB5F4
}
#facebook, #nativeshare {
	background : #5974CC
}
#email {
	background : #CC0000
}
#link {
	background : #77F
}

#popup {
	pointer-events : none;
	position: absolute;
	transform: translate(-25px, -19px);
	z-index : 127;
	min-width : 50px;
	font-size : 11px;
	text-align : center;
	padding : 2px;
	border-radius: 4px;
	box-shadow: black 2px 2px;
	background : var(--cpu-popup-background);
	color : var(--cpu-popup-color);
	opacity : 0;
} 
#popup:before {
	pointer-events : none;
	content:"";
	position: absolute;
	z-index : 127;
	left: 20px;
	bottom: -8px;
	width: 0;
	height : 0;
	/* arrow form */
	border-top: 8px solid var(--cpu-popup-background);
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
} 

.panel {
	display : flex;
	list-style: none;
	flex-direction: column; 
	padding : 0 var(--cpu-min-padding);
	box-shadow: var(--cpu-inner-shadow);
}
h6 {
	text-align : center;
}

.cue {
	border-top : 1px solid black;
	display : flex;
	margin : 0px;
	padding : 2px
}

.cue strong {
	flex : 1 1;
	font-weight : normal;
}
.cue time {
	flex : 0 0 var(--cpu-elapse-width) 0px;
	text-align : right;
}

aside a, h6, .cue time , aside.ticker *
{
	font-size : var(--cpu-font-small-size);
}

.mode-compact {
	width : calc(var(--cpu-elapse-width) + var(--cpu-height) * 2 + 32px);
}

.mode-button {
	width : var(--cpu-height);
}

.mode-compact #title,
.mode-compact #line,
.mode-compact #actions,
.mode-compact aside, .mode-compact .panel,
.mode-button #poster,
.mode-button #about,
.mode-button #actions,
.mode-button aside, .mode-button .panel {
	width : 0;
	display : none;
}

.mode-hidden,
.hide-chapters .chapters,
.hide-timeline #line,
.hide-panels .panel,
.hide-panels-title h6,
.hide-panels-except-play .panel,
.media-streamed #link, 
.media-streamed #line {
	display : none;
}

.hide-panels-except-play.last-used .panel {
	display : flex;
}

.mode-compact.show-main #pagemain {
	flex : 0 0 auto;
}

@media (max-width: 640px) /* , @element #interface and (max-width: 640px) */{

	.nosmall {
		display : none !important;
	}

	#elapse {
		max-height : 16px;
	}

	#interface {
		--cpu-timeline-height : 8px ;
	}
	
	#handheld-nav {
		padding-bottom: 4px;
	}

	aside.ticker {
		top: 22px;
	}

}
@media (max-width: 480px)/* , @element #interface and (max-width: 480px) */{
	.nosmaller {
		display : none  !important;
	}

	.mode-default #elapse {
		flex : 0 1 var(--cpu-elapse-width);
	}

		.mode-default #pagemain {
			 padding-bottom : 16px;
		}
		#titleline {
			height : 32px;
		}
		#line {
			 position: absolute;
			 left: calc(0px - var(--cpu-height));
			 right: calc(0px - var(--cpu-height));
			 height: 16px;
			 top: 32px;
		}
		aside a {
			pointer-events: none;
		}
		aside.borders {
			 top : -2px;
		}
		aside.chapters {
			 top : 8px;
		}
	#handheld-nav {
		padding-bottom: 2px;
	}

}
@media (max-width: 320px) /*, @element #interface and (max-width: 320px) */ {
	.nosmallest,
	.mode-default #elapse {
		display : none  !important;
	}

}

@media print {
	#interface {
		display : none;
	}
}

a:hover, a:focus, button:hover, button:focus,
#pageshare div:hover ,
.active-cue, /* can now ride off its !important on color */
.with-preview /* !important still needed to simplify css */ {
	background: var(--cpu-focus-background, var(--cpu-color)) !important;
	color : var(--cpu-focus-color, var(--cpu-background)) !important;
}